body {
  background-color: black;
}

.navbar {
  background-color: black;
}

.navbar a {
  text-decoration: none;
  margin: 10px;
  margin-bottom: -6px;
}

.jumbotron {
  text-align: center;
  position: relative;
  background-image: url("../images/background.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-position: center;
  background-size: cover !important;
  color: white;
}

.jumbotron h1 {
  color: white;
}

.jumbotron .heading-title {
  font-size: 30px;
  font-weight: 300;
}

.jumbotron a {
  color: white;
}

.navi {
  text-align: center;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.section-1 {
  background: rgba(38, 36, 41, 0.8);
  margin: 0 10%;
  padding-bottom: 2rem;
}

.description {
  display: flex;
  margin-top: 1rem;
  text-align: left;
}
.description p {
  margin: auto;
  padding: 1rem 5rem;
}

.description br {
  margin-bottom: 2rem;
}

.turing--container {
  display: flex;
  justify-content: center;
  height: 100%;
}
.turing--container a {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  font-size: 24px;
}
.turing--container a::after{
  content: url("../images/turing_logo.png");
}

@media (max-width: 767px) {
  .navbar a {
    margin: 3px;
  }

  .profile-image {
    width: 200px;
    height: 200px;
  }

  .heading-title {
    font-size: 20px;
    font-weight: 300;
  }

  .section-1 { margin: 0; }
}
